html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background: slategray
}
/* Info styles */
.info {
    width: 500px;
    padding: 20px;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 10px 10px 20px 0 rgba(80, 202, 108, 0.5);
}
.image {
    border-radius: 20px;
    width: 500px;
}
.Name {
    font-size: 30px;
    margin-block: 10px;
    color: white
}
.Job {
    font-size: 20px;
    font-weight: 600;
    color: #b18141;
    margin-block: 10px;
}
.project {
    font-size: 10px;
    font-weight: 600;
    color: White;
    margin-block: 10px;
    display: block;
    text-decoration: none;
}
.project:hover {
    color: #2dbb39;
    text-decoration: underline;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.link {
    text-decoration: none;
}
.button {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #766dc3;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.button img {
    width: 30px;
    height: 30px;
}
.button p {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.button p:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover p {
    padding-right: 25px;
}
.button:hover p:after {
    opacity: 1;
    right: 0;
}
.link1 {
    text-decoration: none;
}
.button1 {
    background-color: #0a66c2;
    height: 60px;
}
.button1 img {
    width: 40px;
    height: 30px;
}
.button1 p {
    /* font-size: 20px; */
    color: White;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
/* End of info styles */
/* About style */
.About {
    padding: 20px;
    /* margin: 0; */
    margin-top: 0;
    color: White;
    /* margin-block: 10px; */
    /* text-align: center; */
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    font-family: 'Lato', 'sans-serif';
}
.About h1 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
    margin-block: 0;
    color: #6bed9d;
}
.paragraph {
    margin-left: 30px;
    text-align: left;
    font-size: 20px;
    color: #b354a6;
}
/* End of about style */
/* Interests style */
.Interests h1 {
    color: #3269a0;
}
.Interests ul {
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
    color: #6256d3
}
.Interests ul li::marker {
    color: #0a66c2;
    font-size: 20px;
    content: '🎮';
}
/* End of interests style */
/* footer style */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}
.logos {
    width: 50px;
}
.logos::shadow {
    width: 50px;
}
.logos {
    filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.logos:hover {
    filter: grayscale(0%);
    filter: gray;
    filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}